<div class="container p-3 my-3 bg-dark text-white">
  <h2><%= @list.name %></h2>
    <% @list.bookmarks.each do |bookmark| %>
      <%= bookmark.movie.title %> <%= bookmark.movie.overview %> <%= bookmark.movie.poster_url %> <%= bookmark.movie.rating %>
      <%= link_to "Delete", bookmark_path(@list, bookmark), method: :delete %>
    <% end %>
  </ul>

  <div>
    <%= link_to "Add a movie", new_list_bookmark_path(@list) %>
  </div>

  <div>
    <%= link_to "Back to lists", lists_path %>
  </div>
</div>
